<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> Cafe Management System
    </a>
    <ul class="nav">
      <a (click)="handleLogindAction()">Login</a>
      <a (click)="handleSignupAction()">Signup</a>
      <a (click)="handleForgotPasswordAction()">Forgot Password?</a>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>All right reserved @cafe.inn.project</h2>
</div>